<form [formGroup]='form' (ngSubmit)='handleSumit()' class="w-full max-w-lg">
<div class="flex flex-wrap -mx-3 mb-6">
  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-username">
      Cat name
    </label>
    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  formControlName='username' id="grid-username" type="text" placeholder="Jane">
    <p class="text-red-500 text-xs italic">Please fill out this field.</p>
  </div>
  <div class="w-full md:w-1/2 px-3">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-color-cat">
      Cat color
    </label>
    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName='color' id="grid-color-cat" type="text" placeholder="White">
  </div>
</div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
        Cat's email
      </label>
      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  formControlName="email" id="grid-email" type="email" placeholder="meow@cats.com"/>
    <p class="text-gray-600 text-xs italic">Make it as long and as complicated as you'd like</p>
    </div>
  </div>
<div class="flex flex-wrap -mx-3 mb-6">
  <div class="w-full px-3">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
      Password
    </label>
    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  formControlName="password" id="grid-password" type="password" placeholder="password" />
    <p class="text-gray-600 text-xs italic">Make it as long and as complicated as you'd like</p>
  </div>
</div>
<div class="flex flex-wrap -mx-3 mb-2">
  <div class="w-full md:w-3/3 px-3 mb-6 md:mb-0">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-re-passwod">
      Re-password
    </label>
    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-re-password" type="password" placeholder="password" />
  </div>
</div>
  <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" >Meow... Create me!</button>
</form>

