<nav class='absolute top-0 px-5 right-0 left-0 h-[80px] flex justify-between items-center self-center text-white bg-gray-500 hover:bg-sky-700'>
<div class='wd-70 h-70 flex-1 self-center inline-flex items-center  class="pointer-{axis-boolean}"'>
  <svg fill="#000000" height="80px" width="80px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       viewBox="0 0 200 280">
    <path d="M228.118,12.703l-68.674,13.147c-13.634-6.954-29.059-10.88-45.385-10.88c-16.326,0-31.751,3.926-45.385,10.88L0,12.703
	l15.658,83.45c-1.191,6.167-1.822,12.531-1.822,19.04c0,55.263,44.96,100.223,100.223,100.223
	c55.264,0,100.224-44.96,100.224-100.223c0-6.509-0.631-12.873-1.822-19.04L228.118,12.703z M134.029,175.022
	c-7.911,0-15.038-3.259-19.977-8.675c-4.939,5.42-12.059,8.72-19.961,8.72c-14.878,0-26.982-12.362-26.982-27.362h15
	c0,7,5.375,12.362,11.982,12.362c6.606,0,11.981-5.095,11.981-11.701l-0.107-10.694c-8.808-3.291-15.097-11.967-15.097-21.967h15
	c0,5,3.674,8.19,8.19,8.19s8.191-3.19,8.191-8.19h15c0,10-6.288,18.674-15.096,21.966l-0.107,10.651
	c0,6.53,5.375,11.68,11.981,11.68s11.981-5.297,11.981-12.297h15C161.01,162.705,148.907,175.022,134.029,175.022z"/>
  </svg>
  <div class='item-center p-1'>
    <h1 class="text-slate-150 text-2xl text-center font-bold">
    {{ title  }}
    </h1>
  </div>
</div>

  <span class='text-center'>
    <button class='font-bold py-2 px-4 hover:bg-gray-600 active:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300'><a class='mr-2' routerLink='/'>Log in...</a></button>
    <button class='font-bold py-2 px-4 hover:bg-gray-600 active:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300'><a class='mr-2' routerLink='/create'>Create a new cat</a></button>
  </span>
</nav>
